doctype html

html
	head
		meta(name="google-signin-scope", content="profile email")
		meta(name="google-signin-client_id", content="377314718894-jfjkvmk6g018jj6b605n2ib4pkjh7j3c.apps.googleusercontent.com")
		script(src="https://apis.google.com/js/platform.js", async, defer)
		script(src="/javascripts/googlescript.js", async, defer)
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
